<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="La pr贸xima revoluci贸n en el intercambio de criptomonedas. Batatabit te ayuda a navegar entre los diferentes precios y tendencias.")
    meta(name="robots" content="index,follow")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;500&display=swap" )
    link(rel="shortcut icon" href="./assets/batata-favicon.svg" type="image/x-icon")
    link(rel="stylesheet" href="./styles/styles.min.css")
    link(rel="stylesheet" href="./styles/desktop.min.css" media="screen and (min-width: 1220px)")
    title BatataBit
  body
    header
      img(src="./assets/logo.svg", alt="Logo de BatataBit")
      .header__container
        h1 La pr贸xima revoluci贸n en el intercambio de criptomonedas.
        p Batatabit te ayuda a navegar entre los diferentes precios y tendencias.
        a.header__button(href="#") Conoce Nuestros Planes
          span
    main
      section
      section
      section
      section
    footer